.nav {
    display: flex;
    flex-direction: column;
    margin-top: 20vh;
    padding: clamp(1rem, 5vw, 6rem);
}

.nav > a {
    color: rgba(255, 255, 255, 0.25);
    font-family: "Open Sans", sans-serif;
    font-size: clamp(3rem, 8vw, 10rem);
    font-weight: 300;
    text-decoration: none;
    position: relative;
}

.nav > a:hover {
    color: white;
}

.nav > a > img {
    width: 200px;
}